<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <!--[if lt IE 10]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <img id="landing-img" width="500vw">
    <nav>
        <ul>
            <li>
                <button class="btn" id="btn-content1">show content 1</button>
                <img id="content1" width="300vw">
                </img>
            </li>
            <li>
                <button class="btn" id="btn-content2">show content 2</button>
                <img id="content2" width="300vw">
                </img>
            </li>
            <li>
                <button class="btn" id="btn-content3">show content 3</button>
                <img id="content3" width="300vw">
                </img>
            </li>
            <li>
                <button class="btn" id="btn-content4">go to 404</button>
            </li>
        </ul>
    </nav>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function() {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-WEBPACK3TEMPLATE-0', 'auto');
        ga('send', 'pageview');
    </script>
    <%= htmlWebpackPlugin.files.webpackManifest %>
</body>

</html>