.page-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.big-smile {
    font-size: 8rem;
    float: right;
    min-width: 5rem;
    // margin: 0 0 0 1rem;
}

.page-not-found__msg {
    font-size: 3rem;
    word-wrap: break-word;
}

@media screen and (min-width: 375px) {
    .page-not-found__msg {
        font-size: 4rem;
        max-width: 40rem;
    }
}